/*font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* html5요소 하위브라우져 적용 */
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block
}

/* 모든 Device를 위한 공통 로드 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure,
figcaption,
span {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

* {
    -webkit-text-size-adjust: none;
}

body {
    height: 100%;
    font-size: 10px;
    /* font-family:'Rubik', 'NanumSquareRound', 'Noto Sans KR', sans-serif; */
    font-family:'NanumSquareRound', 'Noto Sans KR', sans-serif;
    color:#000;
}

textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
    padding:0;
    border:none;
    background-color: transparent;
}

button{
    cursor: pointer;
    border: none;
}

table {
    border-spacing: 0;
    *border-collapse: collapse;
}

fieldset,
img {
    border: 0
}

img {
    vertical-align: middle;
    width: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

legend,
caption {
    text-indent: -100%;
    *text-indent: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    color: transparent;
}

a {
    text-decoration: none;
    outline: 0;
    color: rgb(0, 0, 0);
}

select,
input {
    vertical-align: middle;
}

section {
    overflow: hidden;
}

:root,
html {
    font-size: 10px;
}


.ir {
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    z-index: -9999;
    top: -10000px;
    left: -100000px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inlineBlock {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.clear::after {
    content: "";
    clear: both;
}

.oh {
    overflow: hidden
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ovh {
    overflow: hidden;
}


.d_hidden {
    display: block !important;
}

.m_hidden {
    display: none !important;
}

/*slick*/
.slick-slide,
.slick-slide:focus {
    outline: 0;
}


/* input 기본 스타일 초기화 */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;

}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
    display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {}

/* margin */
/* margin */
.mr0 {
    margin-right: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt100 {
    margin-top: 100px !important;
}


.mtM10 {
    margin-top: -10px !important
}

.ml0 {
    margin-left: 0 !important;
}

.mr1 {
    margin-right: 1px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mr30 {
    margin-right: 30px !important;
}

/* padding */
.pt0 {
    padding-top: 0 !important;
}

.pb6 {
    padding-bottom: 6px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

/* text type */

/*@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 100;
    src: url(../../font/AppleSDGothicNeoT.ttf) format('truetype');
    
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 300;
    src: url(../../font/AppleSDGothicNeoT.ttf) format('truetype');
    
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 300;
    src: url(../../font/AppleSDGothicNeoL.ttf) format('truetype');
    
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 500;
    src: url(../../font/AppleSDGothicNeoR.ttf) format('truetype');
    
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/AppleSDGothicNeoSB.ttf) format('truetype');
    
}

@font-face {
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: 900;
    src: url(../../font/AppleSDGothicNeoB.ttf) format('truetype');
    
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-Black.eot');
    src: url('../../font/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-Black.svg#Montserrat-Black') format('svg'),
        url('../../font/Montserrat-Black.ttf') format('truetype'),
        url('../../font/Montserrat-Black.woff') format('woff'),
        url('../../font/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-ExtraBold.eot');
    src: url('../../font/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
        url('../../font/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../../font/Montserrat-ExtraBold.woff') format('woff'),
        url('../../font/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-Bold.eot');
    src: url('../../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
        url('../../font/Montserrat-Bold.ttf') format('truetype'),
        url('../../font/Montserrat-Bold.woff') format('woff'),
        url('../../font/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-SemiBold.eot');
    src: url('../../font/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
        url('../../font/Montserrat-SemiBold.ttf') format('truetype'),
        url('../../font/Montserrat-SemiBold.woff') format('woff'),
        url('../../font/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-Medium.eot');
    src: url('../../font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
        url('../../font/Montserrat-Medium.ttf') format('truetype'),
        url('../../font/Montserrat-Medium.woff') format('woff'),
        url('../../font/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-Regular.eot');
    src: url('../../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
        url('../../font/Montserrat-Regular.ttf') format('truetype'),
        url('../../font/Montserrat-Regular.woff') format('woff'),
        url('../../font/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-Light.eot');
    src: url('../../font/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-Light.svg#Montserrat-Light') format('svg'),
        url('../../font/Montserrat-Light.ttf') format('truetype'),
        url('../../font/Montserrat-Light.woff') format('woff'),
        url('../../font/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-ExtraLight.eot');
    src: url('../../font/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
        url('../../font/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../../font/Montserrat-ExtraLight.woff') format('woff'),
        url('../../font/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat-Thin.eot');
    src: url('../../font/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../font/Montserrat-Thin.svg#Montserrat-Thin') format('svg'),
        url('../../font/Montserrat-Thin.ttf') format('truetype'),
        url('../../font/Montserrat-Thin.woff') format('woff'),
        url('../../font/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}*/

/* btns */

/*title*/
.sub-title h3 {
    font-weight: 900;
    font-size: 2.604165vw;
}

.sub-title2 {
    margin-top: 4%;
}

.sub-title2 h3 {
    font-weight: 700;
    font-size: 2.604165vw;
}

/* align */
.cl_left {
    clear: left
}

.center {
    text-align: center !important;
}

.top {
    vertical-align: top !important
}

.bottom {
    vertical-align: bottom
}

.middle {
    vertical-align: middle !important
}

.alignRight {
    text-align: right !important
}

.alignLeft {
    text-align: left !important
}

/* position */
.posRel {
    position: relative;
    z-index: 1;
}

/* width */
.w50 {
    width: 50% !important
}

.w33 {
    width: 33.33% !important
}

/* height */
.h30 {
    height: 30px;
}

/* text style */
.bold {
    font-weight: 700;
}

.redTxt {
    color: red !important
}

.blueTxt {
    color: blue !important
}

.greenTxt {
    color: #548826 !important
}

.color777 {
    color: #777 !important
}

/* display */
.displayNone {
    display: none;
}

/* lineheight */
.lineHeight0 {
    line-height: 0px !important;
}

.scroll_box::-webkit-scrollbar {
    width: 6px;
}

.scroll_box::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll_box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
}

.scroll_box::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"]:checked + label:after {
    background: url(../../imgs/common/bg_checkbox_on.png) center /100% no-repeat;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 1.9em;
    font-size: 1.5em;
    color: #252B37;
}

input[type="checkbox"] + label span {
    color: #6F6F6F;
    margin-right: 3px;
}

input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: url(../../imgs/common/bg_checkbox_off.png) center /100% no-repeat;
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) {
    body {
        -webkit-text-size-adjust: none;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    /* paging */
    /* Styles */
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops */
@media only screen and (min-width : 1025px) {
    /* Styles */
    /* paging */

}

/* Large screens  */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

/*animation*/
@keyframes menuOpne {
    0% {
        height: 3px;
    }

    50% {
        width: 100%;
        height: 3px;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes menuClose {
    0% {
        width: 100%;
        height: 100%;
    }

    50% {
        width: 100%;
        height: 3px;
    }

    100% {
        width: 0%;
        height: 3px;
    }
}

.div_wrap {
    width: 1230px;
    height: 100%;
    margin: auto;
    position: relative;
}

.sec::after {
    content: "";
    display: block;
    clear: both;
}

.title {
    font-size: 3.8em;
    font-weight: 700;
    color: #052450;
}

.sub_title {
    font-size: 0.48em;
    font-weight: 700;
    color: #052450;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.5em;
    margin-left: 0.9em;
}

.btn_type01 {
    display: inline-block;
    font-size: 1.8em;
    font-weight: 700;
    width: 11.66em;
    height: 3em;
    line-height: 3em;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.btn_type01 .arrow {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    top: 55%;
    right: 2.5em;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

.btn_type01.on .arrow {
    transform: rotate(180deg) translate(0, -50%);
    transition: all 0.3s;
    top: 10%;
}

.w_block {
    display: block;
}
@media (max-width:1400px) {
    
}
@media (max-width:1230px) {

}
@media (max-width:900px) {
    
}
@media (max-width:720px) {
    
}
